        * {
            box-sizing: border-box;
        }
        body {
            font-family: Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(220, 250, 230);
        }
        nav {
            background-color: rgb(39, 156, 64);

            display: flex;
            flex-direction: row;
        }
        nav > div:hover, nav > div:focus-within {
            background-color: rgb(39, 196, 64);
            position: relative;
        }
        h2, label {
            display: block;
            margin: 0;
            padding: 5px 10px;
            min-width: 100px;
            font-size: large;
        }
        nav > div > div {
            display: none;
            flex-direction: column;
            position: absolute;
            background-color: rgb(39, 196, 64);
            width: 100%;
        }
        nav > div:hover > div, nav > div:focus-within > div {
            display: flex;
        }
        nav input {
            position: absolute;
            top: -1000px;
        }
        nav a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
        }
        nav a:hover {
            background-color: rgb(39, 255, 64);
        }

        .container {
            max-width: 1231px;
            margin: 0 auto;
        }
        h3 {
            margin: 0;
        }
        .alert {
            background-color: rgb(255, 255, 255);
            border-left: 5px solid rgb(39, 196, 64);
            padding: 15px;
            margin: 25px;
        }
        .yellow {
            border-color: rgb(245, 245, 80);
        }